Zaayka-RecipePortal_Jinal/WebClient/Connected Services/ServiceReference1/RecipeService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServices" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServices" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Recipe">
    <xs:sequence>
      <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Dislikes" type="xs:int" />
      <xs:element minOccurs="0" name="Id" type="xs:int" />
      <xs:element minOccurs="0" name="Image" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Ingredients" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Likes" type="xs:int" />
      <xs:element minOccurs="0" name="Method" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Otherdetails" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Recipe" nillable="true" type="tns:Recipe" />
  <xs:complexType name="ArrayOfRecipe">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Recipe" nillable="true" type="tns:Recipe" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRecipe" nillable="true" type="tns:ArrayOfRecipe" />
</xs:schema>