WCFServices/WebClient/Connected Services/CommentServiceReference/CommentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CommentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:8090/CommentService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:8090/CommentService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:8090/CommentService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WCFServices" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ICommentService_AddComment_InputMessage">
    <wsdl:part name="parameters" element="tns:AddComment" />
  </wsdl:message>
  <wsdl:message name="ICommentService_AddComment_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddCommentResponse" />
  </wsdl:message>
  <wsdl:message name="ICommentService_ViewComments_InputMessage">
    <wsdl:part name="parameters" element="tns:ViewComments" />
  </wsdl:message>
  <wsdl:message name="ICommentService_ViewComments_OutputMessage">
    <wsdl:part name="parameters" element="tns:ViewCommentsResponse" />
  </wsdl:message>
  <wsdl:portType name="ICommentService">
    <wsdl:operation name="AddComment">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommentService/AddComment" message="tns:ICommentService_AddComment_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommentService/AddCommentResponse" message="tns:ICommentService_AddComment_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ViewComments">
      <wsdl:input wsaw:Action="http://tempuri.org/ICommentService/ViewComments" message="tns:ICommentService_ViewComments_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICommentService/ViewCommentsResponse" message="tns:ICommentService_ViewComments_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ICommentService" type="tns:ICommentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddComment">
      <soap:operation soapAction="http://tempuri.org/ICommentService/AddComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ViewComments">
      <soap:operation soapAction="http://tempuri.org/ICommentService/ViewComments" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommentService">
    <wsdl:port name="BasicHttpBinding_ICommentService" binding="tns:BasicHttpBinding_ICommentService">
      <soap:address location="http://localhost:8090/CommentService/CommenyServiceBasicHttp" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>